* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  /* background-color: lightblue; */
  display: flex;
}

.container .left {
  width: 60vw;
  /* background-color: lightpink; */
  background: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=628&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.left h1,
.left h2 {
  padding-top: 60px;
  padding-left: 60px;
  color: #6bb6d3e8;
}

.left h1 {
  font-size: 3rem;
}

.left h2 {
  font-size: 1.5rem;
}

.container .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right .title {
  display: none;
  margin-bottom: 30px;
}

.form-wrapper .btn {
  text-align: center;
  padding: 10px 30px;
  background-color: orange;
  margin-top: 15px;
  border-radius: 8px;
}

.btn a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.btn:hover {
  background-color: white;
  color: orange;
}

.btn:hover a:hover {
  color: orange;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .left {
    display: none;
  }

  .title {
    display: block !important;
  }
}
