.title {
  border-bottom: 2px double black;
  text-align: center;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 1rem;
}

.satu {
  background-color: lightblue;
  position: static;
  top: 100px;
}

.dua {
  background-color: lightcoral;
  position: absolute;
  top: 0px;
  right: 0px;
}

.tiga {
  background-color: lightcyan;
  position: relative;
  left: 50vw;
}

.empat {
  background-color: lightgreen;
  position: fixed;
  right: 0px;
  top: 50vh;
}

.lima {
  background-color: lightseagreen;
  position: sticky;
  top: 30px;
}

/* Latihan flexbox */
.container {
  display: flex;
  height: 200vh;
  flex-direction: column;
  /* width: 80vw; */
  background-color: lightblue;
  flex-wrap: wrap;
  /* menggeser posisi item searah sumbu utamanya */
  justify-content: center;
  /* menggeser posisi item searah garis tegak lurusnya */
  align-items: center;
}
