.paragraph {
  font-size: 28px;
  background-color: #c77c7c94;
}

.title {
  /* value margin / padding / border
  1. 1 ukuran = segala sisi
  2. 2 ukuran = 30px 60px = 30px vertikal dan 60px horizontal
  3. 3 ukuran = 30px 40px 60px = 30px top, 40px horizontal, 60px bottom
  4. 4 ukuran = 30px 40px 50px 60px = 30px top, 40px right, 50px bottom, 60px left
  */
  margin: 30px 40px 50px 60px;
  border: 2px solid black;
}
