/* reset margin - padding */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: lightcyan; */
  padding: 2.5%;
}

nav .right {
  display: flex;
  align-items: center;
}

.right .bell-icon,
.right .photo-profile,
.right .username,
.right .dropdown-icon {
  margin-left: 16px;
}

.right .photo-profile {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #ccced2;
  padding: 6px;
}

.photo-profile .img {
  background-color: lightcoral;
  width: 100%;
  border-radius: 100%;
  height: 100%;
}

.container main {
  background-color: lightcyan;
  height: 100%;
  display: flex;
  justify-content: center;
}

main .card-main {
  width: 56%;
  background: #ffffff;
  box-shadow: 0px 16px 90px rgba(19, 7, 52, 0.08);
  border-radius: 12px;
  margin-bottom: 1.5%;
  padding: 40px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
